<div class="row column">
  <div class="off-canvas-wrapper">

    <!-- start position left -->
    <div class="off-canvas position-left" id="offCanvasLeft1" data-off-canvas>
            <button class="close-button" aria-label="Close menu" type="button" data-close>
              <span aria-hidden="true">&times;</span>
            </button>

            <ul class="tabs" data-active-collapse="true" data-tabs id="collapsing-tabs">
              <li class="tabs-title is-active"><a href="#panel1c" aria-selected="true">LIGHT</a></li>
              <li class="tabs-title"><a href="#panel2c">DARK</a></li>
            </ul>

            <div class="tabs-content" data-tabs-content="collapsing-tabs">
              <div style="background-color:#e6e6e6;" class="tabs-panel is-active" id="panel1c">
                    <h4>Active</h3>
                    <table>    
                        <thead>
                            <tr>                
                            <th>#</th>
                            <th>Name</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                            <td>32</td>
                            <td>Magic Johnson</td>
                            </tr>
                            <tr>
                            <td>23</td>
                            <td>Michael Jordan</td>
                            </tr>
                            <tr>
                            <td>6</td>
                            <td>Lebron James</td>
                            </tr>
                            <tr>
                            <td>21</td>
                            <td>Tim Duncan</td>
                            </tr>
                            <tr>
                            <td>34</td>
                            <td>Hakeem Olajuwon</td>
                            </tr>
                        </tbody>
                    </table>
                    <table>
                    <h4>Bench</h3>
                        <thead>
                            <tr>                
                            <th>#</th>
                            <th>Name</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                            <td>3</td>
                            <td>Sebastian Telfair</td>
                            </tr>
                            <tr>
                            <td>30</td>
                            <td>Michael Beasley</td>
                            </tr>
                            <tr>
                            <td>24</td>
                            <td>Marvin Williams</td>
                            </tr>
                            <tr>
                            <td>41</td>
                            <td>Michael Olowokandi</td>
                            </tr>
                            <tr>
                            <td>52</td>
                            <td>Greg Oden</td>
                            </tr>
                        </tbody>
                    </table>
              </div>
              <div style="background-color:#e6e6e6;" class="tabs-panel" id="panel2c">
                <h4>Active</h3>
                    <table>    
                        <thead>
                            <tr>                
                            <th>#</th>
                            <th>Name</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                            <td>30</td>
                            <td>Steph Curry</td>
                            </tr>
                            <tr>
                            <td>24</td>
                            <td>Kobe Bryant</td>
                            </tr>
                            <tr>
                            <td>33</td>
                            <td>Larry Bird</td>
                            </tr>
                            <tr>
                            <td>32</td>
                            <td>Karl Malone</td>
                            </tr>
                            <tr>
                            <td>13</td>
                            <td>Wilt Chamberlain</td>
                            </tr>
                        </tbody>
                    </table>
                    <table>
                    <h4>Bench</h3>
                        <thead>
                            <tr>                
                            <th>#</th>
                            <th>Name</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                            <td>15</td>
                            <td>Anthony Bennett</td>
                            </tr>
                            <tr>
                            <td>54</td>
                            <td>Kwame Brown</td>
                            </tr>
                            <tr>
                            <td>3</td>
                            <td>Adam Morrison</td>
                            </tr>
                            <tr>
                            <td>7</td>
                            <td>Jimmer Fredette</td>
                            </tr>
                            <tr>
                            <td>22</td>
                            <td>Jay Williams</td>
                            </tr>
                        </tbody>
                    </table>  
              </div>
            </div>                
    </div>
    <!-- end position-left -->

    <!-- start position right -->
    <div class="off-canvas position-right" id="offCanvasRight1" data-off-canvas>
            <button class="close-button" aria-label="Close menu" type="button" data-close>
              <span aria-hidden="true">&times;</span>
            </button>

            <ul class="tabs" data-active-collapse="true" data-tabs id="collapsing-tabs">
              <li class="tabs-title"><a href="#panel3c">LIGHT</a></li>
              <li class="tabs-title is-active"><a href="#panel4c" aria-selected="true">DARK</a></li>
            </ul>

            <div class="tabs-content" data-tabs-content="collapsing-tabs">
              <div style="background-color:#e6e6e6;" class="tabs-panel" id="panel3c">
                    <h4>Active</h3>
                    <table>    
                        <thead>
                            <tr>                
                            <th>#</th>
                            <th>Name</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                            <td>32</td>
                            <td>Magic Johnson</td>
                            </tr>
                            <tr>
                            <td>23</td>
                            <td>Michael Jordan</td>
                            </tr>
                            <tr>
                            <td>6</td>
                            <td>Lebron James</td>
                            </tr>
                            <tr>
                            <td>21</td>
                            <td>Tim Duncan</td>
                            </tr>
                            <tr>
                            <td>34</td>
                            <td>Hakeem Olajuwon</td>
                            </tr>
                        </tbody>
                    </table>
                    <table>
                    <h4>Bench</h3>
                        <thead>
                            <tr>                
                            <th>#</th>
                            <th>Name</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                            <td>3</td>
                            <td>Sebastian Telfair</td>
                            </tr>
                            <tr>
                            <td>30</td>
                            <td>Michael Beasley</td>
                            </tr>
                            <tr>
                            <td>24</td>
                            <td>Marvin Williams</td>
                            </tr>
                            <tr>
                            <td>41</td>
                            <td>Michael Olowokandi</td>
                            </tr>
                            <tr>
                            <td>52</td>
                            <td>Greg Oden</td>
                            </tr>
                        </tbody>
                    </table>
              </div>
              <div style="background-color:#e6e6e6;" class="tabs-panel  is-active" id="panel4c">
                <h4>Active</h3>
                    <table>    
                        <thead>
                            <tr>                
                            <th>#</th>
                            <th>Name</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                            <td>30</td>
                            <td>Steph Curry</td>
                            </tr>
                            <tr>
                            <td>24</td>
                            <td>Kobe Bryant</td>
                            </tr>
                            <tr>
                            <td>33</td>
                            <td>Larry Bird</td>
                            </tr>
                            <tr>
                            <td>32</td>
                            <td>Karl Malone</td>
                            </tr>
                            <tr>
                            <td>13</td>
                            <td>Wilt Chamberlain</td>
                            </tr>
                        </tbody>
                    </table>
                    <table>
                    <h4>Bench</h3>
                        <thead>
                            <tr>                
                            <th>#</th>
                            <th>Name</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                            <td>15</td>
                            <td>Anthony Bennett</td>
                            </tr>
                            <tr>
                            <td>54</td>
                            <td>Kwame Brown</td>
                            </tr>
                            <tr>
                            <td>3</td>
                            <td>Adam Morrison</td>
                            </tr>
                            <tr>
                            <td>7</td>
                            <td>Jimmer Fredette</td>
                            </tr>
                            <tr>
                            <td>22</td>
                            <td>Jay Williams</td>
                            </tr>
                        </tbody>
                    </table>  
              </div>
            </div>                
    </div>
    <!-- end position-right -->

        <!-- start position left -->
    <div class="off-canvas position-bottom" id="offCanvasBottom1" data-off-canvas>
            <button class="close-button" aria-label="Close menu" type="button" data-close>
              <span aria-hidden="true">&times;</span>
            </button>

            <ul class="tabs" data-active-collapse="true" data-tabs id="collapsing-tabs">
              <li class="tabs-title is-active"><a href="#panel1c" aria-selected="true">LIGHT</a></li>
              <li class="tabs-title"><a href="#panel2c">DARK</a></li>
            </ul>

            <div class="tabs-content" data-tabs-content="collapsing-tabs">
              <div style="background-color:#e6e6e6;" class="tabs-panel is-active" id="panel1c">
                    <h4>Active</h3>
                    <table>    
                        <thead>
                            <tr>                
                            <th>#</th>
                            <th>Name</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                            <td>32</td>
                            <td>Magic Johnson</td>
                            </tr>
                            <tr>
                            <td>23</td>
                            <td>Michael Jordan</td>
                            </tr>
                            <tr>
                            <td>6</td>
                            <td>Lebron James</td>
                            </tr>
                            <tr>
                            <td>21</td>
                            <td>Tim Duncan</td>
                            </tr>
                            <tr>
                            <td>34</td>
                            <td>Hakeem Olajuwon</td>
                            </tr>
                        </tbody>
                    </table>
                    <table>
                    <h4>Bench</h3>
                        <thead>
                            <tr>                
                            <th>#</th>
                            <th>Name</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                            <td>3</td>
                            <td>Sebastian Telfair</td>
                            </tr>
                            <tr>
                            <td>30</td>
                            <td>Michael Beasley</td>
                            </tr>
                            <tr>
                            <td>24</td>
                            <td>Marvin Williams</td>
                            </tr>
                            <tr>
                            <td>41</td>
                            <td>Michael Olowokandi</td>
                            </tr>
                            <tr>
                            <td>52</td>
                            <td>Greg Oden</td>
                            </tr>
                        </tbody>
                    </table>
              </div>
              <div style="background-color:#e6e6e6;" class="tabs-panel" id="panel2c">
                <h4>Active</h3>
                    <table>    
                        <thead>
                            <tr>                
                            <th>#</th>
                            <th>Name</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                            <td>30</td>
                            <td>Steph Curry</td>
                            </tr>
                            <tr>
                            <td>24</td>
                            <td>Kobe Bryant</td>
                            </tr>
                            <tr>
                            <td>33</td>
                            <td>Larry Bird</td>
                            </tr>
                            <tr>
                            <td>32</td>
                            <td>Karl Malone</td>
                            </tr>
                            <tr>
                            <td>13</td>
                            <td>Wilt Chamberlain</td>
                            </tr>
                        </tbody>
                    </table>
                    <table>
                    <h4>Bench</h3>
                        <thead>
                            <tr>                
                            <th>#</th>
                            <th>Name</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                            <td>15</td>
                            <td>Anthony Bennett</td>
                            </tr>
                            <tr>
                            <td>54</td>
                            <td>Kwame Brown</td>
                            </tr>
                            <tr>
                            <td>3</td>
                            <td>Adam Morrison</td>
                            </tr>
                            <tr>
                            <td>7</td>
                            <td>Jimmer Fredette</td>
                            </tr>
                            <tr>
                            <td>22</td>
                            <td>Jay Williams</td>
                            </tr>
                        </tbody>
                    </table>  
              </div>
            </div>                
    </div>
    <!-- end position-left -->

    <div class="off-canvas-content" data-off-canvas-content>
    <% include partials/header %>
    <% include partials/nav %>
      <!-- start of main grid -->
    <div class="grid-container grid-container-padded">
         <div class="cell">
            <h2>Current Game: LIGHT vs DARK</h2>       
        </div>
        <!-- start of 'create new league form' -->
        <div class="grid-x grid-margin-x">
        <table class="unstriped">
            <thead>
                <tr>
                <th style="text-align:center;"><button type="button" class="hollow button secondary">Menu</button></th>
                <th  style="text-align:center;">12:00 <button type="button" class="hollow button secondary tiny">edit</button><br>1st Quarter </th>
                <th style="text-align:center;"><button type="button" class="hollow button secondary">START</button></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                <td style="text-align:center;">LIGHT</td>
                <td style="text-align:center;"></td>
                <td style="text-align:center;">DARK</td>
                </tr>
                <tr>
                <td style="text-align:center;font-weight: bold;">28</td>
                <td style="text-align:center;">Score</td>
                <td style="text-align:center;font-weight: bold;">24</td>
                </tr>
                <tr><td style="text-align:center;">7</td>
                <td style="text-align:center;">Team Fouls</td>
                <td style="text-align:center;">4</td>
                </tr>
                <tr>
                <td style="text-align:center;">0</td>
                <td style="text-align:center;">Timeouts Left</td>
                <td style="text-align:center;">1</td>
                </tr>
                <tr>
                <td style="text-align:center;"><button type="button" class="hollow button secondary" data-toggle="offCanvasLeft1">TECH</button></td>
                <td style="text-align:center;"><button type="button" class="hollow button secondary" style="background-color:#e6e6e6" data-toggle="offCanvasBottom1">SUBS</button></td>
                <td style="text-align:center;"><button type="button" class="button secondary" data-toggle="offCanvasRight1">TECH</button></td>
                </tr>
                <tr>
                <td style="text-align:center;"><button type="button" class="hollow button secondary" data-toggle="offCanvasLeft1">FOUL</button></td>
                <td style="text-align:center;"><button type="button" class="hollow button secondary" style="background-color:#e6e6e6" data-open="exampleModal1">TIMEOUT</button></td>
                <td style="text-align:center;"><button type="button" class="button secondary" data-toggle="offCanvasRight1">FOUL</button></td>
                </tr>
                <tr>
                <td style="text-align:center;"><button type="button" class="hollow button secondary" data-toggle="offCanvasLeft1">1 PT</button></td>
                <td style="text-align:center;"></td>
                <td style="text-align:center;"><button type="button" class="button secondary" data-toggle="offCanvasRight1">1 PT</button></td>
                </tr>
                <tr>
                <td style="text-align:center;"><button type="button" class="hollow button secondary" data-toggle="offCanvasLeft1">3 PT</button></td>
                <td style="text-align:center;"></td>
                <td style="text-align:center;"><button type="button" class="button secondary" data-toggle="offCanvasRight1">3 PT</button></td>
                </tr>
                <tr>
                <td style="text-align:center;"><button type="button" class="hollow button secondary" data-toggle="offCanvasLeft1">2 PT</button></td>
                <td style="text-align:center;"></td>
                <td style="text-align:center;"><button type="button" class="button secondary" data-toggle="offCanvasRight1">2 PT</button></td>
                </tr>
                <tr>
                <td colspan="2"><strong>Last play:</strong> Light scored 2 Points</td>
                <td style="text-align:center;"><button type="button" class="hollow button secondary">UNDO</button></td>
                </tr>
            </tbody>
            </table>

            <!-- timeout modal -->
            <div class="tiny reveal"  id="exampleModal1" data-reveal>
                </br><p>TEAM CALLING TIMEOUT</p>
                <button type="button" class="hollow button secondary" data-toggle="offCanvasLeft1">LIGHT</button>        
                <button type="button" class="button secondary" data-toggle="offCanvasRight1">DARK</button>                
                <button class="close-button" data-close aria-label="Close modal" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <!-- end timeout modal -->


        </div> <!-- ./grid-x grid-margin-x -->
    </div> <!-- ./grid-container grid-container-padded -->
    <% include partials/footer %>

    </div> <!-- ./off-canvas-content data-off-canvas-content -->
  </div>  <!-- ./off-canvas-wrapper -->
</div><!-- ./row column -->


