<% include partials/header %>
<% include partials/nav %>

    <!-- start grid -->
    <div class="grid-x">
      <div class="cell">
        <h2>Welcome to the Stats App!</h2>
        <p>Please select a page from the top navigation menu.</p>
      </div>
    </div>
    <!-- end grid -->

<% include partials/footer %>
