<% include partials/header %>
<% include partials/nav %>

    <!-- start of main grid -->
    <div class="grid-container grid-container-padded">
         <div class="cell">
            <h2>Teams</h2>       
        </div>
        <!-- start of 'create new league form' -->
        <div class="grid-x grid-margin-x">
            <div class="medium-6 large-4 cell">
                <h4>Add new team</h4>
                <form action="/api/team" method="post">
                <div class="row">
                    <div class="medium-6 columns">
                    <label>Team name
                        <input type="text" name="name" placeholder="Team name">
                    </label>                 
                    <label>League
                            <select name="leagueId" id="addTeam">
                                <option value="" selected disabled>Please select</option>                                
                            </select>                                       
                    </label>                                
                    <input type="submit" class="button" value="Submit">
                    </div>                    
                </div>
                </form>
            </div> <!-- ./medium-6 large-4 cell -->
              
<script>
// var data = [
//     { name: "Mal Reynolds" },
//     { name: "Piet Heyn" }
// ];

 
//var data = 
fetch('api/league').then(function(response) { 
  // Convert to JSON
  return response.json();
}).then(function(j) {
  // Yay, `j` is a JavaScript object
  console.log(j[0].data.length);
  console.log(j[0].data);
  {
    var elm = document.getElementById("addTeam");

    for (var i = 0, len = j[0].data.length; i < len; i++) {
        var name = j[0].data[i].name;
        var id = j[0].data[i].id;
        var option = document.createElement("option");
        option.value = id;
        option.textContent = name;
        elm.add(option);
    }
  };
});


//lewis's solution
// var myData = [];
// console.log(myData); // empty array
// fetch('api/league') // [1,2,3,4,5]
//     .then((resp) => resp.json())
//     .then(function(data) { 
//         myData.push(...data);
//     }
// )
// console.log(myData); //[1,2,3,4,5]
</script>







           <!-- start of 'existing leagues table' -->
            <div class="medium-6 large-8 cell">
                <h4>Existing teams</h4>
               <table>
                <thead>
                    <tr>
                    <th>Team ID</th>
                    <th>Team name</th>
                    <th>League</th>
                    </tr>
                </thead>
               <tbody>
                    <% data.forEach(function(team) { %>
                       <tr>
                         <td><%= team.id %></td>
                         <td><%= team.name %></td>
                         <td><%= team.leagueId %></td>
                       </tr>
                    <% }); %>                    
                </tbody>
                </table>
            </div> <!-- ./medium-6 large-8 cell -->
        </div> <!-- ./grid-x grid-margin-x -->
    </div> <!-- ./grid-container grid-container-padded -->

<% include partials/footer %>