    <!-- top nav -->
    <div class="top-bar">
      <div class="top-bar-left">
        <ul class="dropdown menu" data-dropdown-menu>
          <li class="menu-text">Stats App</li>
          <li><a href="/">Home</a></li>
          <li><a href="/leagues">Leagues</a></li>
          <li><a href="/teams">Teams</a></li>
          <li><a href="/players">Players</a></li>
          <li><a href="/stat-types">Stat Types</a></li>
          <li><a href="/games">Games</a></li>
          <li><a href="/current-game">Current Game</a></li>
        </ul>
      </div>
    </div>
    <!-- end top nav -->